.Sign_in {
    margin-left: 600px;
    margin-top:9px;
}
.Sign_up{
    margin-left: 600px;
    margin-top:9px;
}

.Carousel_img {
    high:525px;
    width:900px;
    text-align:center;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.item {
    display: none;
    position: relative;
.transition(1s ease-in-out left);
}
