<script src="js/media_player.js"></script>
<div class="jumbotron" style="margin-top:50px">
    <div class="container">
        <h1>Music, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        <div>
            <audio id="player" controls>
                <source src="{{playing}}" type="audio/mpeg">
            </audio>
            <button id="playing_button" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
            <button id="stop_button" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
            </button>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Music</th>
                    <th>Author</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="music in music">
                    <td>{{music.name}}</td>
                    <td>{{music.author}}</td>
                    <td>{{music.time}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>