<!--<script src="js/media_player.js"></script>-->
<div class="jumbotron" style="margin-top:50px" ng-controller="AudioController">
    <div class="container">
        <h1>Music, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60.5" aria-valuemin="0" aria-valuemax="100" ng-style="{width :progress_bar+'%'}">
                {{current_time}}%
            </div>
        </div>
        {{current_time}}  {{progress_bar}}
        <div>
            <div style="text-align:center">
                <button id="backward_button" type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                </button>
                <button id="playing_button" type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </button>
                <button id="pause_button" type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                </button>
                <button id="stop_button" type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                </button>
                <button id="forward_button" type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                </button>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Index</th>
                    <th>Music</th>
                    <th>Author</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr id="{{'music_'+$index}}" ng-repeat="music in music" ng-click="play_audio(music)">
                    <td>{{'music_'+$index}}</td>
                    <td>{{music.name}}</td>
                    <td>{{music.author}}</td>
                    <td>{{music.time}}</td>
                </tr>
                    {{music.scr}}
                </tbody>
            </table>
        </div>
    </div>
  </div>