<script src="js/media_player.js"></script>
<div class="jumbotron" style="margin-top:50px">
    <div class="container">
        <h1>Music, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        <div>
            <audio id="player" controls>
                <source ng-src="{{music.scr}}" type="audio/mpeg">
            </audio>
            <button id="playing_button" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
            <button id="stop_button" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>